@import "globals.scss";
@import "palette.scss";

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.card {
  position: relative;
  background: $orangeColor1;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  opacity: 0.95;
  border-radius: 4px;
  width: 500px;
  padding: 25px;
  margin-bottom: 20px;
  transition: 0.3s;
  cursor: pointer;

  p {
    font-size: 20px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: $blueColor1;
}

.card:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
