@import "../styles/globals.scss";

.aboutContainer {
  padding: 20px 10px;
}

.aboutDescription {
  max-width: $cardMinWidth;
}

@media only screen and (max-width: $break-small) {
  .aboutDescription {
    max-width: 320px;
  }
}
