@import "../styles/globals.scss";

.cardContainer {
  display: flex;
  justify-content: center;
}

.card {
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  opacity: 0.95;
  border-radius: 4px;
  text-align: center;
  padding: 10px 0;
  min-width: $cardMinWidth;
  transition: opacity 1s ease, transform 1s ease;
}
