@import "../styles/globals.scss";

.experienceContainer {
  padding: 20px;
}

.projects {
  max-width: calc(#{$cardMinWidth} + 65px);
}

@media only screen and (max-width: $break-small) {
  .projects {
    max-width: 320px;
  }
}
