@import "../styles/globals.scss";
@import "../styles/palette.scss";

.navHeaderContainer {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  min-width: calc(#{$cardMinWidth} - 200px);
  margin: 0;
}

.icon {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.selectedIcon {
  opacity: 1;
}
