@import "../styles/palette.scss";

.navHeaderContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  min-width: 450px;
}

.icon {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.selectedIcon {
  opacity: 1;
}
